{% extends "cart_base.html" %}
{% load static %}
{% block page_content %}
<h1>Cart</h1>
{% if carts %}
<div class="row">
{% for order in carts %}
    <div class="col-md-4">
        <img class="card-img-top" style="height: 220px;width: 350px;padding: 20px" src="{% static order.product.image %}">
            <div class="card-body">
                <div>
                    <a href="{% url 'product_detail' order.product.pk %}"><h5 class="card-title">{{ order.product.name }}</h5></a>
                    <p class="card-text">{{ order.product.description }}</p>
                    <div class="row">
                        <div class="row" style="position: relative; left: 30px">
                        <a href="{% url 'decre' order.product.pk %}" class="btn btn-primary">
                            -
                        </a>
                        <h4 class="card-title col-md-3" style="text-align: center">{{ order.quantity }}</h4>
                        <a href="{% url 'incre' order.product.pk %}" class="btn btn-primary" style="margin-left: 16px">
                            +
                        </a>
                        </div>
                        <a href="{% url 'delete' order.product.pk %}" class="btn btn-primary" style="position:absolute;right: 30px">
                            delete
                        </a>
                    </div>
                    <h4 class="card-title" style="padding-top: 10px">Price: ${{ order.product.price|floatformat:2 }}</h4>
                </div>
            </div>
    </div>
{% endfor %}
</div>
<div class="row" style="position: absolute; bottom: 50px">
        <div class="col-md-12">
            <h4 class="card-title">Total Price: ${{ total|floatformat:2 }}</h4>

        </div>
        <div class="col-md-12">
            <a href="#" class="btn btn-primary">
                    Check out
            </a>
        </div>
</div>
{% else %}
  <p style="position: absolute; left: 40%;top: 30%; font-size: xxx-large">Your cart is empty.</p>
{% endif %}
{% endblock %}